@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="jumbotron"
     style=" background-image: linear-gradient(180deg,skyblue, white); height: 600px; margin-top: 0px; ">
    <center>
        
        <div class="jumbotron"
             style=" background-image: url('https://thumbs.dreamstime.com/b/banner-two-hide-puppies-dogs-big-ears-paws-hanging-blank-row-isolated-blue-colored-background-198497906.jpg'); height: 400px; margin-top: 0px; width: 800px; border-radius: 15px;">
            <center>
                <div class="mask" " style="background-color: rgb(178 0 255 / 0,74);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="mb-3">PetShop</h1>
                            <h4 class="mb-3">For every bought animal we will give 20% of income to  charities!</h4>
                            <a class="btn btn-info btn-lg" href="https://localhost:44346/Home/About">Would you like to learn more?</a> 
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </center>
</div>